.font-size {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1877F2;
    font-size: 60px;
    font-weight: bold;
}
.form-signin .bg-custom-color {
    background-color: #1877F2;
    font-size: 20px;
}
.form-signin {
    box-shadow: 0 0 20px #b6b6b6;
}
.form-signin .bg-custom-color-2 {
    background-color: #00b819;
    font-size: 17px;
    border: none;
    transition: 0.2s;
}
.form-signin .bg-custom-color-2:hover{
    background-color: #009814;
}
.form-floating label {
    color: #909090;
    font-size: 18px;
}
.left-side {
    padding: 80px;
}
.left-side p{
    font-size: 29px;
    line-height: 38px;
}
.radio-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 7px;
}

.radio-label input {
    margin-left: 5px;
}

.modal-footer > .custom-btn {
    background: #009814; 
    margin: 0 30%;
    font-size: large;
    
}